version: 2.1

jobs:
  build-push:
    docker:
      - image: quay.io/buildah/stable:v1.28.0
    resource_class: azuretour/aksrunner
    steps:
      - checkout
      - run:
          name: Build and Push
          command: |
            ACRUSER=$(cat /mnt/secrets-store/ACRUSER)
            ACRPASSWORD=$(cat /mnt/secrets-store/ACRPASSWORD)
            buildah bud --format docker --layers -f ./Dockerfile -t circleciacr.azurecr.io/demo-image:v1.0.0 .
            buildah push --creds=${ACRUSER}:${ACRPASSWORD} circleciacr.azurecr.io/demo-image:v1.0.0
workflows:
  build-push-workflow:
    jobs:
      - build-push